<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="CmstServer"/>
    <add key="ServiceDescription" value="中储股份洛阳分公司系统服务！"/>
    <add key="ServicesDependedOn" value="MSSQLSERVER,LanmanServer"/>
    <add key="ServiceStartAfterInstall" value="true"/>
  </appSettings>
  <socketServer maxWorkingThreads="1024"
                maxCompletionPortThreads="256">
    <servers>
      <!--<server name="CmstServer" 
              serverTypeName="CmstServer" 
              ip="Any" 
              port="2012"
              maxRequestLength="536870912"
              maxConnectionNumber="10240"
              listenBacklog="64"
              sendingQueueSize="64"
              textEncoding="UTF-8"
              redirectHref="./Redirect" 
              connectionFilter="IpRangeFilter" 
              ipRange="192.168.1.3-192.168.1.5">-->
      <server name="CmstServer" 
              serverTypeName="CmstServer" 
              ip="Any" 
              port="2012"
              maxRequestLength="536870912"
              maxConnectionNumber="10240"
              listenBacklog="64"
              sendingQueueSize="64"
              textEncoding="UTF-8"
              redirectHref="./Redirect">
        <!-- 数据库配置 -->
        <databases needLogin="true" 
                   loginDatabase="testdb" 
                   loginQuery="sql4" 
                   userField="username" 
                   keyField="password" 
                   groupField="usergroup" 
                   subscriptionList="inmessage,outmessage,sysmessage" 
                   signupDatabase="testdb" 
                   signupQuery="sql5">
          <database type="sqlserver" 
                    name="newstoremanage" 
                    connectionString="Server=127.0.0.1,1433;Database=newstoremanage;User ID=sa;Password=jzg1314;">
            <sqlExpressions>
              <add name="sql1"  tableName="BD_KeepOnRecord" sql="USE newstoremanage; SELECT * FROM BD_KeepOnRecord;" />
              <add name="sql2"  tableName="sysobjects"      sql="USE newstoremanage; SELECT * FROM sysobjects;" />
              <add name="sql3"  tableName="sysobjects"      sql="USE newstoremanage; SELECT * FROM sysobjects;" />
              <add name="sql4"  tableName="BD_KeepOnRecord" sql="SELECT * FROM BD_KeepOnRecord;" />
              <!-- 测试SQL -->
              <add name="sql5"  tableName="Main_User"       sql="SELECT * FROM Main_User;" />
              <add name="sql6"  tableName="Adjust_Reason"   sql="SELECT * FROM Adjust_Reason;" />
              <add name="sql7"  tableName="Bill_InType"     sql="SELECT * FROM Bill_InType;" />
              <add name="sql8"  tableName="Bill_InWay"      sql="SELECT * FROM Bill_InWay;" />
              <add name="sql9"  tableName="Bill_Spec"       sql="SELECT * FROM Bill_Spec;" />
              <add name="sql10" tableName="BreedGoodView"   sql="SELECT * FROM BreedGoodView;" />
              <add name="sql11" tableName="adjustReason"   sql="SELECT AR_ID AS id, AR_ReasonCode AS code, AR_Content AS reason, ISNULL(AR_Remark, '-') AS remark FROM BD_AdjustReasonTab;" />
            </sqlExpressions>
          </database>
          <database type="sqlserver" 
                    name="testdb" 
                    connectionString="Server=127.0.0.1,1433;Database=webservice;User ID=sa;Password=jzg1314;">
            <sqlExpressions>
              <add name="sql1" tableName=""           sql="INSERT INTO a (date, note) VALUES (GETDATE(), 'This is just a test demo!');" />
              <add name="sql2" tableName="job"        sql="SELECT * FROM job;" />
              <add name="sql3" tableName="department" sql="SELECT * FROM department;" />
              <add name="sql4" tableName="login"      sql="SELECT l.name AS username,password,inmessage,outmessage,sysmessage,d.name AS usergroup FROM login l LEFT JOIN department d ON l.usergroupid=d.id;" />
              <add name="sql5" tableName=""           sql="INSERT INTO login (name, password, usergroupid) VALUES (-,-,-);" limit="true" delimiter="-" />
            </sqlExpressions>
          </database>
          <database type="sqlite" 
                    name="webservice" 
                    connectionString="Data Source=C:\Downloads\Demos\WebSocketDemo2\Test\webservice.db;">
            <sqlExpressions>
              <add name="sql1" tableName="servicefields"   sql="SELECT sf_field, sf_fieldlang FROM servicefields;" />
              <add name="sql2" tableName="sqlite_master"   sql="SELECT * FROM sqlite_master;" />
              <add name="sql3" tableName="sysobjects"      sql="SELECT * FROM sysobjects;" />
              <add name="sql4" tableName="BD_KeepOnRecord" sql="SELECT * FROM BD_KeepOnRecord;" />
            </sqlExpressions>
          </database>
        </databases>
      </server>
    </servers>
    <serverTypes>
      <add name="CmstServer"
           type="CmstService.SocketServer.CmstServer, CmstService.SocketServer" />
    </serverTypes>
    <!-- 连接过滤 -->
    <!-- <connectionFilters>
      <add name="IpRangeFilter"
           type="CmstService.SocketServer.ConnectionFilter.IPConnectionFilter, CmstService.SocketServer.ConnectionFilter" />
    </connectionFilters> -->
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>